:root {
    --first-color:hsl(200, 100%, 50%); /*blue*/
    --first-color-light: hsl(200, 125%, 22%); /*dark blue*/
    --first-color-alt: hsl(200, 105%, 48%);
    --first-color-dark: hsl(79, 63%, 50%);
    --first-color-gray: hsl(79, 6%, 64%);
    --title-color: hsl(180, 4%, 98%);
    --title-color-black: hsl(180, 4%, 12%);
    --text-color: hsl(180, 4%, 72%);
    --text-color-light: hsl(180, 4%, 65%);
    --body-color: hsl(180, 12%, 8%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
}

header {
    background-color: #2196F3;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #093960;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 20px;
}

td {
    padding: 10px;
}

.package-body {
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.package {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.package-image {
    flex-basis: 40%;
    padding: 40px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.package-image img {
    max-width: 100%;
    height: auto;
}

.package-details {
    flex-basis: 60%;
    padding: 40px;
}

.package-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.package-description {
    margin-bottom: 20px;
}

.package-features {
    margin-bottom: 20px;
}

.package-features ul {
    padding: 0;
    list-style-type: none;
}

.package-features li {
    margin-bottom: 10px;
}

.package-benefits {
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #093960;
}

/*=============== FOOTER ===============*/
.footer_container{
    row-gap: 4rem;
    padding-top: 1rem;
}
.footer_logo,
.footer_description{
    color: var(--title-color);
}
.footer_logo,
.footer_form,
.footer_social{
    display: flex;
}
.footer_logo {
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-bold);
    margin-bottom: 1.5rem;
}
.footer_logo img{
    width: 1.5rem;
}

.footer_description{
    margin-bottom: 2rem;
}
.footer_form{
    flex-direction: column;
    gap: 1.25rem;
}

.footer_input{
    padding: 20px 56px 20px 24px;
    border: 2px solid var(--first-color-light);
    background: transparent;
    color: var(--text-color);
    outline: none;
}

.footer_content,
.footer_links,
.footer_group{
    display: grid;
}
.footer_content{
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 3.5rem;
}
.col-md-4 {
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
}
.footer_title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.footer_links{
    row-gap: .75rem;
}
.footer_link{
    color: var(--text-color);
    transition: color .3s;
}

.footer_link:hover{
    color: var(--first-color);
}
.footer_group{
    margin-top: 5rem;
    justify-items: center;
    row-gap: 2rem;
}

.footer_social{
    column-gap: 1.25rem;
}
.footer_social-link{
    display: inline-flex;
    padding: .35rem;
    background-color: var(--first-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--title-color-black);
    transition: background .4s;
}

/*================TEST FOOTER ==================*/
.container-footer {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

.social-media {
    display: flex;
}

.social-media li {
    margin-right: 10px;
}

.social-media li a {
    color: #fff;
    font-size: 24px;
}

.social-media li a:hover {
    color: #ccc;
}

